<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <title>Victory Era Travel Company</title>
    
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/define.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="web">
      <header class="header" id="header">
        <div class="container">
          <div class="header__top">
            <div class="header-icons">
              <img class="header-icons__logo" src="img/header/Logo.png" alt="img/header/Logo.png"/>
              <img class="header-icons__bar" id="header-icons__bar" src="img/icon/bar.png" alt="img/icon/close.png">
              <img class="header-icons__cls" id="header-icons__cls" src="img/icon/close.png" alt="img/icon/close.png">
            </div>
            <div class="header__menu" id="header__menu">
              <nav class="header-nav" id="header-nav">
                <a class="header-nav__link header-nav__link--active" href="#">Home</a>
                <div class="header-nav__group">
                  <a class="header-nav__link" href="#">Tours in Vietnam</a>
                  <nav class="header-nav__sub">
                    <a class="header-nav__link" href="#">Vietname Package</a>
                    <a class="header-nav__link" href="#">Southen Tour</a>
                    <a class="header-nav__link" href="#">Nothern Tour</a>
                    <a class="header-nav__link" href="#">Central Tour</a>
                  </nav>
                </div>

                <a class="header-nav__link" href="#">Travel Guide</a>
                <a class="header-nav__link" href="#">Booking Policy</a>
                <a class="header-nav__link" href="#">Hotline +84867032865</a>
              </nav>
              <form class="header-search">
                <input class="header-search__input" type="text" placeholder="Where do you want to go?">
                <img class="header-search__icon" src="img/header/search-icon.png" alt="search-icon.png">
              </form>
            </div>
          </div>
          <div class="header-banner">
            <h1 class="header-banner__title">Victory Era Travel Company</h1>
            <p class="header-banner__text">Your journey - Our mision</p>
          </div>
        </div>
      </header>

      <div class="body">
        <div class="container">
          <div class="booking">
            <div class="booking-header">
              <h1 class="booking-header__title">Booking Form</h1>
              <p class="booking-header__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, laborum.</p>
            </div>
            <div class="booking__body">
              <form class="booking-form">
                <label class="booking-form__label booking-form__label--detail">Details</label>
                <div class="booking-form__group">
                  <label class="booking-form__label">First Name</label>
                  <input type="text" class="booking-form__input" placeholder="Input your first name here">
                </div>
                <div class="booking-form__group">
                  <label class="booking-form__label">Last Name</label>
                  <input type="text" class="booking-form__input" placeholder="Input your last name here">
                </div>
                <div class="booking-form__group validate">
                  <label class="booking-form__label">Email Address</label>
                  <input type="text" class="booking-form__input" placeholder="Input your email address here">
                </div>
                <div class="booking-form__group validate">
                  <label class="booking-form__label">Phone Number</label>
                  <input type="text" class="booking-form__input" placeholder="Input your phone number here">
                </div>
                <div class="booking-form__group">
                  <label class="booking-form__label">Special Request</label>
                  <textarea rows="6" class="booking-form__textarea" placeholder="Input your special request here"></textarea>
                </div>
                <button class="booking-form__submit">Submit</button>
              </form>
              <div class="booking-product">
                <div class="card card--border">
                  <div class="card__frame">
                    <img class="card__thumnail" src="img/product/product-thumnail.png" alt="product-thumnail.png">
                  </div>
                  <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                  <div class="card__info">
                    <span class="card__date">18 May 2021</span>
                    <div class="card-price">
                      <label class="card-price__label">Total Price</label>
                      <span class="card-price__value">$370</span>
                    </div>
                  </div>
                </div>
                <div class="booking-product__desc">
                  <a class="booking-product__payment" href="#">Click here for payment via onepay</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="footer-map">
            <iframe class="footer-map__iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Vinhome%20ocearn%20park+(Victory%20Era%20Travel%20Company)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
              <a href="https://www.gps.ie/">gps trackers</a>
            </iframe>
            <p class="footer__text text-center">Copyright © 2024 Victory Era Travel Company</p>
          </div>
  
          <div class="footer-info">
            <div class="footer-info__company">
              <h3 class="footer-info__h3">Victory Era Travel Company</h3>
              <p class="footer__text">Address: Vinhomes Ocean Park, Gia Lâm, Hanoi Lorem ipsum dolor sit amet.</p>
            </div>
            <section class="footer__links">
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link">Phone: +84867032865</a>
                <a href="#" class="footer-nav__link">Email: booking@victorytravel.info</a>
                <a href="#" class="footer-nav__link">Work Time: Mon-Sun 8:00 - 21:00</a>
                <div class="footer__social">
                  <a href="#"><img class="footer__social-item" src="img/footer/social1.png" alt="social1.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social2.png" alt="social2.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social3.png" alt="social3.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social4.png" alt="social4.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social5.png" alt="social5.png"></a>
                </div>
              </nav>
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link">Vietnam package</a>
                <a href="#" class="footer-nav__link">Northern Vietnam</a>
                <a href="#" class="footer-nav__link">Central Vietnam</a>
                <a href="#" class="footer-nav__link">Southern Vietnam</a>
              </nav>
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link">Home</a>
                <a href="#" class="footer-nav__link">About Us</a>
                <a href="#" class="footer-nav__link">Travel Guide</a>
                <a href="#" class="footer-nav__link">Booking Policy</a>
              </nav>
            </section>
            <section class="footer-payment">
              <img class="footer-payment__item" src="img/footer/payment1.png" alt="payment1.png">
              <img class="footer-payment__item" src="img/footer/payment2.png" alt="payment2.png">
              <img class="footer-payment__item" src="img/footer/payment3.png" alt="payment3.png">
              <img class="footer-payment__item" src="img/footer/payment4.png" alt="payment4.png">
            </section>
          </div>
        </div>

      </footer>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
