<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <title>Victory Era Travel Company</title>

    <link rel="stylesheet" href="css/swiper.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/define.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
    
    <div class="web">
      <header class="header" id="header">
        <div class="container">
          <div class="header__top">
            <div class="header-icons">
              <img class="header-icons__logo" src="img/header/Logo.png" alt="img/header/Logo.png"/>
              <img class="header-icons__bar" id="header-icons__bar" src="img/icon/bar.png" alt="img/icon/close.png">
              <img class="header-icons__cls" id="header-icons__cls" src="img/icon/close.png" alt="img/icon/close.png">
            </div>
            <div class="header__menu" id="header__menu">
              <nav class="header-nav" id="header-nav">
                <a class="header-nav__link header-nav__link--active" href="#">Home</a>
                <div class="header-nav__group">
                  <a class="header-nav__link" href="#">Tours in Vietnam</a>
                  <nav class="header-nav__sub">
                    <a class="header-nav__link" href="#">Vietname Package</a>
                    <a class="header-nav__link" href="#">Southen Tour</a>
                    <a class="header-nav__link" href="#">Nothern Tour</a>
                    <a class="header-nav__link" href="#">Central Tour</a>
                  </nav>
                </div>
                <a class="header-nav__link" href="#">Travel Guide</a>
                <a class="header-nav__link" href="#">Booking Policy</a>
                <a class="header-nav__link" href="#">About Us</a>
              </nav>
              <form class="header-search">
                <input class="header-search__input" type="text" placeholder="Where do you want to go?">
                <img class="header-search__icon" src="img/header/search-icon.png" alt="search-icon.png">
              </form>
            </div>
          </div>
          <div class="header-banner">
            <h1 class="header-banner__title">Victory Era Travel Company</h1>
            <p class="header-banner__text">Your journey - Our mision</p>
          </div>
        </div>
      </header>

      <div class="body body--homepage">
        <section class="section section--shadow">
          <div class="container">
            <h2 class="section__title">Best seller</h2>
            <div class="grid__four">
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur adipisicing elit..</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- container -->
        </section>
        <section class="section section--shadow">
          <div class="container">
            <h2 class="section__title">TOUR IN HA LONG</h2>
            <div class="grid__four">
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
              <div class="card card--border">
                <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                <div class="card__info">
                  <a class="btn btn--primary" href="#">Book Tour</a>
                  <div class="card-price">
                    <label class="card-price__label">Start From</label>
                    <span class="card-price__value">$370</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- container -->
        </section>
        <section class="section section--slide">
          <div class="container">
            <div class="section__header">
              <h2 class="section__title">TOP DESTINATIONS IN VIETNAM</h2>
              <div class="section-navslide">
                <img class="section-navslide__btn section-navslide__btn--previous" src="img/slide/previous.png" alt="previous.png">
                <img class="section-navslide__btn section-navslide__btn--next" src="img/slide/next.png" alt="next.png">
              </div>
            </div>
            <div class="section__swiper section__swiper--three swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="swiper__item">
                    <a href="#" class="swiper__frame" style="background-image: url('img/news/halong.jpg');"></a>
                    <a href="#" class="swiper__title">Northern Vietnam</a>
                    <p class="swiper__shortdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam.</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper__item">
                    <a href="#" class="swiper__frame" style="background-image: url('img/news/halong.jpg');"></a>
                    <a href="#" class="swiper__title">Northern Vietnam</a>
                    <p class="swiper__shortdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam.</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper__item">
                    <a href="#" class="swiper__frame" style="background-image: url('img/news/halong.jpg');"></a>
                    <a href="#" class="swiper__title">Southern Vietnam Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, consequuntur.</a>
                    <p class="swiper__shortdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam.</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper__item">
                    <a href="#" class="swiper__frame" style="background-image: url('img/news/halong.jpg');"></a>
                    <a href="#" class="swiper__title">Southern Vietnam Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, consequuntur.</a>
                    <p class="swiper__shortdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aliquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- container -->
        </section>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="footer-map">
            <iframe class="footer-map__iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Vinhome%20ocearn%20park+(Victory%20Era%20Travel%20Company)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
              <a href="https://www.gps.ie/">gps trackers</a>
            </iframe>
            <p class="footer__text text-center">Copyright © 2024 Victory Era Travel Company</p>
          </div>
          <div class="footer-info">
            <div class="footer-info__company">
              <h3 class="footer-info__h3">Victory Era Travel Company</h3>
              <p class="footer__text">Address: Vinhomes Ocean Park, Gia Lâm, Hanoi Lorem ipsum dolor sit amet.</p>
            </div>
            <section class="footer__links">
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link">Hotline: +84867032865</a>
                <a href="#" class="footer-nav__link">Email: booking@victorytravel.info</a>
                <a href="#" class="footer-nav__link">Work Time: Mon-Sun 8:00 - 21:00</a>
                <div class="footer__social">
                  <a href="#"><img class="footer__social-item" src="img/footer/social1.png" alt="social1.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social2.png" alt="social2.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social3.png" alt="social3.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social4.png" alt="social4.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social5.png" alt="social5.png"></a>
                </div>
              </nav>
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link footer-nav__link--hover">Vietnam package</a>
                <a href="#" class="footer-nav__link footer-nav__link--hover">Northern Vietnam</a>
                <a href="#" class="footer-nav__link footer-nav__link--hover">Central Vietnam</a>
                <a href="#" class="footer-nav__link footer-nav__link--hover">Southern Vietnam</a>
              </nav>
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link footer-nav__link--hover">Home</a>
                <a href="#" class="footer-nav__link footer-nav__link--hover">About Us</a>
                <a href="#" class="footer-nav__link footer-nav__link--hover">Travel Guide</a>
                <a href="#" class="footer-nav__link footer-nav__link--hover">Booking Policy</a>
              </nav>
            </section>
            <section class="footer-payment">
              <img class="footer-payment__item" src="img/footer/payment1.png" alt="payment1.png">
              <img class="footer-payment__item" src="img/footer/payment2.png" alt="payment2.png">
              <img class="footer-payment__item" src="img/footer/payment3.png" alt="payment3.png">
              <img class="footer-payment__item" src="img/footer/payment4.png" alt="payment4.png">
            </section>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/main.js"></script>
    <!-- Swiper JS -->
    <script src="js/swiper.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".section__swiper--three", {
        slidesPerView: 3,
        spaceBetween: 30,
        // autoplay: {
        //   delay: 2500,
        //   disableOnInteraction: false,
        // },
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 1,
            spaceBetween: 30
          },
          // when window width is >= 992px
          992: {
            slidesPerView: 2,
            spaceBetween: 30
          },
          // when window width is >= 1200px
          1200: {
            slidesPerView: 3,
            spaceBetween: 30
          }
        },
        navigation: {
          nextEl: ".section-navslide__btn--next",
          prevEl: ".section-navslide__btn--previous",
        }
      
      });
    </script> 
  </body>
</html>
