<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <title>Victory Era Travel Company</title>
    
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/define.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="web web--invert" id="web">
      <header class="header" id="header">
        <div class="container">
          <div class="header__top">
            <div class="header-icons">
              <img class="header-icons__logo" src="img/header/Logo.png" alt="img/header/Logo.png"/>
              <img class="header-icons__bar" id="header-icons__bar" src="img/icon/bar.png" alt="img/icon/close.png">
              <img class="header-icons__cls" id="header-icons__cls" src="img/icon/close.png" alt="img/icon/close.png">
            </div>
            <div class="header__menu" id="header__menu">
              <nav class="header-nav" id="header-nav">
                <a class="header-nav__link header-nav__link--active" href="#">Home</a>
                <div class="header-nav__group">
                  <a class="header-nav__link" href="#">Tours in Vietnam</a>
                  <nav class="header-nav__sub">
                    <a class="header-nav__link" href="#">Vietname Package</a>
                    <a class="header-nav__link" href="#">Southen Tour</a>
                    <a class="header-nav__link" href="#">Nothern Tour</a>
                    <a class="header-nav__link" href="#">Central Tour</a>
                  </nav>
                </div>
                <a class="header-nav__link" href="#">Travel Guide</a>
                <a class="header-nav__link" href="#">Booking Policy</a>
                <a class="header-nav__link" href="#">Hotline +84867032865</a>
              </nav>
              <form class="header-search">
                <input class="header-search__input" type="text" placeholder="Where do you want to go?">
                <img class="header-search__icon" src="img/header/search-icon.png" alt="search-icon.png">
              </form>
            </div>
          </div>
        </div>
      </header>

      <div class="body">

        <div class="container">
          <div class="breadcrumb">
              <a class="breadcrumb__link" href="https://www.halongbaycruisehunters.com/" title="Home">Home</a> 
              <span class="s">/</span>
              <a class="breadcrumb__link" href="https://www.halongbaycruisehunters.com/" title="Home">Tour in Vietnam</a> 
              <span class="s">/</span>
              <a class="breadcrumb__link" href="/packages-tour" title="Halong Bay Tours">VIETNAM PACKAGE - 7 DAYS 6 NIGHTS</a>
          </div>

          <div class="tour">
            <div class="tour-header">
              <h1 class="tour-header__title">VIETNAM PACKAGE - 7 DAYS 6 NIGHTS</h1>
            </div>

            <div class="tour__image">
              <div class="tour__description">
                <div class="swiper swiper--tourdetail">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="swiper__img" src="img/product/cruise 3/slide1.jpg" alt=""></div>
                    <div class="swiper-slide"><img class="swiper__img" src="img/product/cruise 3/slide2.jpg" alt=""></div>
                    <div class="swiper-slide"><img class="swiper__img" src="img/product/cruise 3/slide3.jpg" alt=""></div>
                    <div class="swiper-slide"><img class="swiper__img" src="img/product/cruise 3/slide4.jpg" alt=""></div>
                    <div class="swiper-slide"><img class="swiper__img" src="img/product/cruise 3/slide5.jpg" alt=""></div>
                  </div>
                </div>
              </div>
              <div class="tour__product">
                <div class="card card--border card--noradius">
                  <div class="card__info">
                    <a class="btn btn--primary" href="#">Book Tour</a>
                    <div class="card-price">
                      <label class="card-price__label">Price</label>
                      <span class="card-price__value">$370 / person</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tour__tab">
              <div class="tour-menu">
                <div data-index-number="1" class="tour-menu__item tour-menu__item--separate tour-menu__item--active">Overview</div>
                <div data-index-number="2" class="tour-menu__item tour-menu__item--separate">Include</div>
                <div data-index-number="3" class="tour-menu__item tour-menu__item--separate">Map</div>
                <div data-index-number="4" class="tour-menu__item">Review</div>
              </div>
              <div class="tour-component">
                <div id="tour-component__item--1" class="tour-component__item tour-component__item--active">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus aut nesciunt culpa. Odio, in qui. Aliquid est eveniet fugiat quasi repellat, dolorum eos impedit a accusantium autem at cupiditate. Odio quam eligendi cum soluta omnis recusandae veniam officiis natus, totam suscipit sint nulla libero reiciendis optio rerum laboriosam consequatur dicta similique obcaecati, nemo quo doloribus asperiores! Vitae accusantium esse iure culpa voluptate dolores explicabo laboriosam ut molestias officia fugit quidem, quas incidunt, dignissimos perspiciatis dolore labore! Esse ipsam eum corrupti explicabo totam. Laboriosam tenetur reiciendis eligendi. Inventore nemo animi ea saepe consequatur exercitationem eius rerum quae quis, fuga eveniet provident!</div>
                <div id="tour-component__item--2" class="tour-component__item">Component 2</div>
                <div id="tour-component__item--3" class="tour-component__item">Component 3</div>
                <div id="tour-component__item--4" class="tour-component__item">Component 4</div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <section class="section section--shadow section--slide">
        <div class="container">
          <div class="section__header">
            <h2 class="section__title">Other tour</h2>
            <div class="section-navslide">
              <img class="section-navslide__btn section-navslide__btn--previous" src="img/slide/previous.png" alt="previous.png">
              <img class="section-navslide__btn section-navslide__btn--next" src="img/slide/next.png" alt="next.png">
            </div>
          </div>
          <div class="section__swiper section__swiper--four swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card card--border">
                  <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                  <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                  <div class="card__info">
                    <a class="btn btn--primary" href="#">Book Tour</a>
                    <div class="card-price">
                      <label class="card-price__label">Start From</label>
                      <span class="card-price__value">$370</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card--border">
                  <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                  <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                  <div class="card__info">
                    <a class="btn btn--primary" href="#">Book Tour</a>
                    <div class="card-price">
                      <label class="card-price__label">Start From</label>
                      <span class="card-price__value">$370</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card--border">
                  <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                  <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                  <div class="card__info">
                    <a class="btn btn--primary" href="#">Book Tour</a>
                    <div class="card-price">
                      <label class="card-price__label">Start From</label>
                      <span class="card-price__value">$370</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card--border">
                  <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                  <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                  <div class="card__info">
                    <a class="btn btn--primary" href="#">Book Tour</a>
                    <div class="card-price">
                      <label class="card-price__label">Start From</label>
                      <span class="card-price__value">$370</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card--border">
                  <a href="#" class="card__frame" style="background-image: url('img/product/product-thumnail.jpg');"></a>
                  <a class="card__title">Vietnam Package - 7 days 6 nights</a>
                  <div class="card__info">
                    <a class="btn btn--primary" href="#">Book Tour</a>
                    <div class="card-price">
                      <label class="card-price__label">Start From</label>
                      <span class="card-price__value">$370</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- container -->
      </section>

      <footer class="footer">
        <div class="container">
          <div class="footer-map">
            <iframe class="footer-map__iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Vinhome%20ocearn%20park+(Victory%20Era%20Travel%20Company)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
              <a href="https://www.gps.ie/">gps trackers</a>
            </iframe>
            <p class="footer__text text-center">Copyright © 2024 Victory Era Travel Company</p>
          </div>
          <div class="footer-info">
            <div class="footer-info__company">
              <h3 class="footer-info__h3">Victory Era Travel Company</h3>
              <p class="footer__text">Address: Vinhomes Ocean Park, Gia Lâm, Hanoi Lorem ipsum dolor sit amet.</p>
            </div>
            <section class="footer__links">
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link">Phone: +84867032865</a>
                <a href="#" class="footer-nav__link">Email: booking@victorytravel.info</a>
                <a href="#" class="footer-nav__link">Work Time: Mon-Sun 8:00 - 21:00</a>
                <div class="footer__social">
                  <a href="#"><img class="footer__social-item" src="img/footer/social1.png" alt="social1.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social2.png" alt="social2.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social3.png" alt="social3.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social4.png" alt="social4.png"></a>
                  <a href="#"><img class="footer__social-item" src="img/footer/social5.png" alt="social5.png"></a>
                </div>
              </nav>
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link">Vietnam package</a>
                <a href="#" class="footer-nav__link">Northern Vietnam</a>
                <a href="#" class="footer-nav__link">Central Vietnam</a>
                <a href="#" class="footer-nav__link">Southern Vietnam</a>
              </nav>
              <nav class="footer-nav">
                <a href="#" class="footer-nav__link">Home</a>
                <a href="#" class="footer-nav__link">About Us</a>
                <a href="#" class="footer-nav__link">Travel Guide</a>
                <a href="#" class="footer-nav__link">Booking Policy</a>
              </nav>
            </section>
            <section class="footer-payment">
              <img class="footer-payment__item" src="img/footer/payment1.png" alt="payment1.png">
              <img class="footer-payment__item" src="img/footer/payment2.png" alt="payment2.png">
              <img class="footer-payment__item" src="img/footer/payment3.png" alt="payment3.png">
              <img class="footer-payment__item" src="img/footer/payment4.png" alt="payment4.png">
            </section>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/main.js"></script>
    <!-- Swiper JS -->
    <script src="js/swiper.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".swiper--tourdetail", {
        effect: "coverflow",
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        coverflowEffect: {
          rotate: -30,
          stretch: 0,
          depth: 1000,
          modifier: 1,
          slideShadows: true,
        },
        slidesPerView: "auto",
        centeredSlides: true,
        spaceBetween: 15,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script> 

        <!-- Initialize Swiper -->
        <script>
          var swiper = new Swiper(".section__swiper--four", {
            slidesPerView: 4,
            spaceBetween: 30,
            // autoplay: {
            //   delay: 2500,
            //   disableOnInteraction: false,
            // },
            breakpoints: {
              // when window width is >= 320px
              320: {
                slidesPerView: 1,
                spaceBetween: 30
              },
              // when window width is >= 992px
              992: {
                slidesPerView: 2,
                spaceBetween: 30
              },
              // when window width is >= 1200px
              1200: {
                slidesPerView: 4,
                spaceBetween: 30
              }
            },
            navigation: {
              nextEl: ".section-navslide__btn--next",
              prevEl: ".section-navslide__btn--previous",
            }
          
          });
        </script> 

    <script>
      const tourMenus = document.querySelectorAll('.tour-menu__item');
      tourMenus.forEach( menu1 => {
      

        menu1.onclick = () => {
          document.querySelectorAll('.tour-menu__item').forEach( menu2 => {
            menu2.classList.remove('tour-menu__item--active');
          });

          menu1.classList.add('tour-menu__item--active');

          document.querySelectorAll('.tour-component__item').forEach( component => {
            component.classList.remove('tour-component__item--active');
          });

          document.getElementById('tour-component__item--' + menu1.dataset.indexNumber).classList.add('tour-component__item--active');
        }
      });
    </script>
  </body>
</html>
