/* brand__section */
.brand__section{
    margin-top: 60px;
}

.brand-row__wrapper{
    margin-top: 15px;
    box-sizing: border-box!important;
}

.brand-row__item{
    display: relative;
}

.brand-row__content{
    display: flex;
    flex-direction: column;
}

.brand-row__thumnail{
    max-width: 100%;
    height: 62px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.brand-row__img{
    width: 100%;
}
