
/* post */
.post__section{
    margin-top: 60px;
}

.post-row__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.post-row-header__title{
    font-size: 22px;
    margin: 0;
    color: var(--title-color);
}

.post-row-header__navigation{
    display: flex;
    gap: 5px;
}

.post-row-header__btn{
    height: 30px;
    border-radius: 5px;
    background-color: var(--background-color);
    cursor: pointer;
}

.post-row-header__btn:hover{
    background-color: var(--btn-hover-color);
}

.post-row__wrapper{
    margin-top: 15px;
    box-sizing: border-box!important;
}

.post-row__item{
    display: relative;
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 15px;
}

.post-row__content{
    display: flex;
    flex-direction: column;
}

.post-row__thumnail{
    max-width: 100%;
    height: 212px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    overflow: hidden;
    border-radius: 5px;
}

.post-row__img{
    width: 100%;
    border-radius: 5px;
}

.post-row__date{
    margin: 15px 0 0 0;
    font-size: 14px;
    color: var(--primary-color);
}

.post-row__title{
    font-size: 16px;
    margin: 10px 0 0 0;
    color: var(--title-color);
}

.post-row__description{
    margin: 10px 0 0 0;
    font-size: 14px;
    height: 55px;
    font-weight: 100;
    line-height: 20px;
    overflow: hidden;
}

.post-row__viewlink{
    margin-top: 15px;
    font-size: 12px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
}

.post-row__viewlink:hover{
    color: var(--primary-hover-color);
    cursor: pointer;
}
