/* Main slider */
.slider__section{
    margin-top: 15px;
}

.slider-main__item{
    position: relative;
}

.slider-main__img {
    display: block;
    width: 100%;
    border-radius: 5px;
    object-position: right top;
    object-fit: cover;
    height: 215px;
}

.slider-main__content{
    position: absolute;
    left:20px;
    top: 50%;
    width: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-main__sale{
    margin: 0;
    font-size: 18px;
    color: var(--primary-color);
}

.slider-main__title{
    margin: 10px 0 0 0;
    font-size: 15px;
    color: #222222;
}

.slider-main__description{
    margin: 0;
    display: none;
}

.slider-main__viewbtn{
    margin: 15px 0 0 0;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.slider-main__viewbtn:hover{
    background-color: var(--primary-hover-color);
    cursor: pointer;
}

@media (min-width: 576px) {

    .slider-main__img {
        height: 270px;
    }

    .slider-main__sale{
        font-size: 25px;
        font-weight: 600;
    }

    .slider-main__title{
        font-size: 20px;
    }

    .slider-main__description{
        display: block;
        margin-top: 10px;
        font-size: 13px;
    }

}

@media (min-width: 768px) {
    .slider-main__img {
        height: 370px;
    }
    
    .slider-main__sale{
        font-size: 35px;
    }

    .slider-main__title{
        font-size: 25px;
        font-weight: 600;
        margin-top:20px;
    }

    .slider-main__description{
        margin-top: 20px;
        font-size: 17px;
    }

    .slider-main__viewbtn{
        margin-top: 25px;
    }

}

@media (min-width: 992px) {
    .slider__section{
        height: 370px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .slider__main{
        width: 100%;
        margin: 0!important;
    }

    .slider-main__title{
        font-size: 30px;
    }

    .slider-main__content{
        position: absolute;
        left:50px;
    }

    .slider-main__viewbtn{
        margin-top: 30px;
        padding: 9px 20px;
        border-radius: 5px;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 20px;
    }
}

/* slider-next */
.slider__next{
    display: flex;
    flex-direction: column;
}

.slider-next__item{
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.slider-next__img {
    display: block;
    width: 100%;
    border-radius: 5px;
    object-position: right top;
    object-fit: cover;
    height: 175px;
}

@media (min-width: 576px) {
    .slider__next{
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    .slider-next__item{
        width: 50%;
    }
}

@media (min-width: 992px) {
    .slider__next{
        height: 370px;
        width: 30%;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    .slider-next__item{
        margin-top: 0;
        width: 100%;
        height: 100%;
    }

    .slider-next__img {
        height: 100%;
    }
}

.slider-next__content{
    position: absolute;
    left:20px;
    top: 50%;
    width: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-next__sale{
    margin: 0;
    font-size: 18px;
    color: var(--primary-color);
}

.slider-next__title{
    margin: 10px 0 0 0;
    font-size: 15px;
    color: #222222;
}

.slider-next__viewbtn{
    margin: 15px 0 0 0;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.slider-next__viewbtn:hover{
    background-color: var(--primary-hover-color);
    cursor: pointer;
}
