

.form--center{
    text-align: center;
}

.form-item{
    margin-top: 15px;
    height: 30px;
    font-size: 12px;
    display: block;
}

.form-login__message{
    font-size: 11px;
    color: var(--red-color);
}

@media (min-width: 576px) {
    .form__login{
        text-align: left;
    }
}

.form-login__input{
    width: 200px;
    
}

.form-login__btn{
    width: 100px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
}