.dev-border{
    border: 1px solid red;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #777777;
    --title-color: #494848;
    --border-color: #dddddd;
    --primary-color: #1d93d2;
    --yellow-color: #ffde00;
    --red-color: #ff0000;
    --background-color: #0000000d;
    --price-color: rgb(209, 30, 30);

    --yellow-hover-color: #dabd02;
    --primary-hover-color: #1879ad;
    --btn-hover-color: rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.page-width{
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media (min-width: 576px) {
    .page-width{
        width: 576px;
    }
}

@media (min-width: 768px) {
    .page-width{
        width: 768px;
    }
}

@media (min-width: 992px) {
    .page-width{
        width: 992px;
    }
}

@media (min-width: 1100px) {
    .page-width{
        width: 1100px;
    }
}

@media (min-width: 1200px) {
    .page-width{
        width: 1200px;
    }
}

@media (min-width: 1300px) {
    .page-width{
        width: 1300px;
    }
}

/* Slider */
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
