.product__detail{
    margin-top: 15px;
}

.product__detail .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__detail .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product__detail .swiper-slide {
    background-size: cover;
    background-position: center;
}

.product__detail .product-detail-left__featuredslide {
    width: 100%;
    border: 1px solid var(--border-color);
}


.product__detail .product-detail-left__thumbslide {
    height: 20%;
    box-sizing: border-box;
    margin-top: 10px;
}

.product__detail .product-detail-left__thumbslide .swiper-wrapper{
    height: max-content;
    box-sizing: border-box;
}

.product__detail .product-detail-left__thumbslide .swiper-slide {
    opacity: 0.4;
    max-width: 100%;
    
    border: 1px solid var(--border-color);
}

.product__detail .product-detail-left__thumbslide .swiper-slide-thumb-active {
    opacity: 1;
}

.product__detail .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail__right{
    background-color: var(--background-color);
    padding: 15px 20px;
}

.product-detail__title{
    margin: 0;
    font-size: 25px;
    border-radius: 5px;
}

.product-detail__price{
    margin-top: 15px;
}

.product-detail__summary{
    margin-top: 15px;
}

.product-detail-summary__item{
    font-size: 15px;
    padding: 10px 0;
    color: var(--text-color);
}

@media (min-width: 992px) {
    .product__detail{
        display: flex;
    }

    .product-detail__left{
        width: 40%;
    }

    .product-detail__right{
        width: 60%;
        margin-left: 15px;
    }
}

.product-detail-price__origin{
    font-size: 17px;
    color: var(--primary-color);
    font-weight: bold;
}

.product-detail-price__sale{
    font-size: 19px;
    color: var(--price-color);
    font-weight: bold;
    margin-left: 5px;
}

.product-detail-right__bottom{
    border-top: 1px solid var(--border-color);
    margin-top: 30px;
    padding-top: 15px;
}

.product-detail-right-bottom__btn{
    padding: 10px 25px;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.product-detail-right-bottom__btn--view {
    background-color: var(--primary-color);
    color: white;
}

.product-detail-right-bottom__btn--view:hover{
    background-color: var(--primary-hover-color);
}

.product-detail-right-bottom__btn--checkout {
    background-color: var(--yellow-color);
    margin-left: 10px;
}

.product-detail-right-bottom__btn--checkout:hover{
    background-color: var(--yellow-hover-color);
}

.product__description{
    margin-top: 15px;
    background-color: var(--background-color);
    padding: 1px 15px;
}

.product-description__title{
    color: var(--title-color);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}