
/* breadcrumb */
.breadcrumb{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}

.breadcumb__title{
    font-size: 22px;
    color: var(--title-color);
}


/* post__detail */
.post__date{
    font-size: 12px;
}

.post__detail{
    font-size: 14px;
}