/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: none;
    overflow-y: auto;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes modalFromTop {
    from {
       top: -100%;
    }
    to {
       top: 0px;
    }
}

.modal__content{
    width: 100%;
    height: auto;
    background-color: white;
    position: absolute;
    animation: modalFromTop 0.3s;
}

@keyframes modalFromLeft {
    from {
       left: -100%;
    }
    to {
       left: 0px;
    }
}

.modal__content--left{
    width: 300px;
    height: 100%;
    background-color: white;
    position: absolute;
    animation: modalFromLeft 0.3s;
    box-shadow: 4px 4px 4px rgb(169, 167, 167);
}

.modal__width{
    padding: 0 15px;
}

@keyframes modalFromRight {
    from {
       right: -100%;
    }
    to {
       right: 0px;
    }
}

.modal__content--right{
    width: 300px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0px;
    animation: modalFromRight 0.3s;
    box-shadow: -4px 4px 4px rgb(169, 167, 167, 167);
}

.modal__header{
    border-bottom: 1px solid var(--border-color);
}

.modal__title{
    font-size: 16px;
}

.modal__header .modal__width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__clsicon{
    height: 40px;
    margin-right: -10px;
}

.modal__clsicon:hover{
    cursor: pointer;
    background-color: var(--background-color);
}

.modal-body__ul{
    padding:0;
    list-style: none;
}

.modal-body__li{
    font-size: 15px;
    margin-bottom: 20px;
}

.modal-body__a{
    text-decoration: none;
    color: var(--black-color);
}

.modal-search__form{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
}

.modal-search-form__input,
.modal-search-form__submit{
    height: 37px;
    border: none;
    outline: none;
}

.modal-search-form__submit{
    width: 100px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* Modal cart */
.modal-body__a--cart{
    display: flex;
    align-items: center;
}

.modal-body-cart__deleteicon{
    height: 30px;
    background-color: var(--background-color);
    border-radius: 50%;
}

.modal-body-cart__deleteicon:hover{
    background-color: var(--btn-hover-color);
}

.modal-body-cart__thumnail{
    height: 60px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin: 0 10px;
}

.modal-body-cart__content{
}

.modal-body-cart-content__title{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    
}

.modal-body-cart-content__price{
    font-size: 12px;
    margin: 15px 0 0 0;
    font-weight: bold;
}


.modal__footer{
    border-top: 1px solid var(--border-color);
    padding: 15px 0;
}

.modal-footer-cart__top,
.modal-footer-cart__bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-footer-cart-bottom__btn{
    padding: 10px 25px;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.modal-footer-cart-bottom__btn--view{
    background-color: var(--primary-color);
    color: white;
}

.modal-footer-cart-bottom__btn--view:hover{
    background-color: var(--primary-hover-color);
    cursor: pointer;
}

.modal-footer-cart-bottom__btn--checkout{
    background-color: var(--yellow-color);
}

.modal-footer-cart-bottom__btn--checkout:hover{
    background-color: var(--yellow-hover-color);
    cursor: pointer;
}

.modal-footer-cart__label{
    font-size: 13px;
}

.modal-footer-cart__value{
    font-size: 13px;
    font-weight: bold;
    color: var(--price-color);
}

/* Modal product sidebar */
.modal-product-sidebar__header{
    padding: 0 15px;
    font-size: 16px;
    color: var(--title-color)
}

.modal-product-sidebar__ul{
    list-style: none;
    padding: 0;
}

.modal-product-sidebar__li{
    color: var(--title-color);
    padding: 20px 0;
}

.modal-product-sidebar-price__input{
    width: 50px;
}

.modal-product-sidebar-brand__ul{
    list-style: none;
    padding: 0;
}

.modal-product-sidebar-brand__li{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}